body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #333;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#password {
    font-size: 1.5rem;
    margin-top: 20px;
    color: #0066cc;
    word-break: break-word;
}

footer {
    margin-top: 30px;
    font-size: 0.9rem;
    color: #666;
}
